div.fill
  div.container
    form(method="post", id="signupForm")
      input.input-small(id="nameFirst", type="text", name="nameFirst", placeholder="First Name")
      input.input-small(id="nameLast", type="text", name="nameFirst", placeholder="Last Name")
      input.input-small(id="username", type="text", name="User", placeholder="Username")
      input.input-small(id="password", type="password", name="Password", placeholder="Password")
      input.btn.primary(type="submit", value="Create Account")
    