include topbar

div.container
  div.content
    div.page-header
      h1 Sports Standings
        p This application is intended to show the latest standings for a few North American sports. Ultimately I'd like to add the ability to see how it's changed over time.
    
  .row
    .span2
      p Team
    .span1 
      p W-L
    .span1 
      p PCT
    .span1
      p GB
  
  - each team in teams
    .row
      .span2
        p #{team.teamName}
      .span1 
        p #{team.record}
      .span1 
        p #{team.pct}
      .span1
        p #{team.gb}




include footer